@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<VideoPlayer MineType="application/x-mpegURL" Width="600" Height="400" Url="http://192.168.1.104:80/rtp/02930F45/hls.m3u8" />
<VideoPlayer MineType="video/mp4" Width="600" Height="400" Url="http://192.168.1.104:80/rtp/02930F45.live.mp4" />

